
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

  .card-grey {
    max-width: 200
  }

  .image {
    max-width: 140 ;
    max-height: 140;
    background-size: cover;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .card-grey {
    max-width: 150
  }

  .image {
    max-width: 100 ;
    max-height: 100;
      }
}


body {
  background-color: #333333;
  color: #BCBDC0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  max-width: 500;
  margin: 0 auto;
}

h1, h2 {
  color: #BCBDC0;
  font-size: 30px;
}

a {
  color: #8A8D91;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

div {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.btn_black {
  background-color: black;
  color: grey;
  padding: 10px;
  border-radius: 50px;
}
.btn_black:hover {
  background-color: white;
  color: white;
}


.home-card {
  padding: 50px;
  border: 2px solid lightgrey;
}

.contact-card {
  padding: 20px;
  border: 3px solid lightgrey;
  width: 100;
}

.image {
  border-radius: 50%;
  border: 5px solid black;
  width: 200px;
}


.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card-grey {
  background: #565857;
  padding: 50px;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  width: 500px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  padding: 50px;
}

.list-inline > li {
  list-style: none;
  display: inline-block;
  font-size: 50px;
  padding: 0px 0px;
  text-align: center;
}

.white {
  color:white;
  font-size: 80px;
}
